.check-item input {
    margin: 0 10px 0 0;
}

.check-item {
    box-shadow: rgb(253, 197, 255) 1px 1px 7px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 5px 8px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 12px;
}