nav::before,
nav::after {
    content: '';
    height: 1px;
    background-color: white;
    display: block;
}

nav::before {
    margin: 0 20px -8px 20px;
    background: linear-gradient(to right, #f98b2f, #9e4676);
}

nav::after {
    margin: -7px 20px 3px 20px;
    background: linear-gradient(to right, #ff5a63, #ffa053);
}

nav {
    background: linear-gradient(to right, #ff5a63, #ffa053);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-size: 11px;
    font-weight: 700;
    font-family: 'Quantico', sans-serif;
    margin: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.dot {
    font-size: 11px;
    margin: 14px -11px 12px;
}
  
.neon {
    -webkit-text-fill-color: white;
    text-shadow: white 1px 1px 8px;
    padding: 0 2px;
    box-sizing: border-box;
}

@media only screen and (min-height: 666px) {
    h3 {
        font-size: 12px;
    }

    .dot {
        font-size: 12px;
        margin: 14px -11px 12px;
    }
}

@media only screen and (min-height: 730px) {
    h3 {
        font-size: 13px;
    }

    .dot {
        font-size: 14px;
        margin: 15px -11px 11px;
    }
}

@media only screen and (min-height: 820px) {
    h3 {
        font-size: 14px;
    }

    .dot {
        font-size: 15px;
        margin: 15px -11px 11px;
    }
}

@media only screen and (min-height: 1000px) {
    h3 {
        font-size: 18px;
    }

    .dot {
        font-size: 18px;
        margin: 18px -11px 12px;
    }
}

@media only screen and (min-height: 1300px) {
    h3 {
        font-size: 23px;
    }

    .dot {
        font-size: 20px;
        margin: 18px -11px 12px;
    }
}

@media only screen and (max-width: 313px) {
    h3 {
        font-size: 10px;
    }
}