.todo-container {
    width: 82%;
    height: 100%;
    margin: 1.8rem 0 2.3rem 0;
    padding: 1.5rem;
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9A070E, #9e4676, #f98a2f93);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e080b63, #77335a48, #b6662457); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 1px 18px rgb(202, 202, 202);
}