.app-container {
    margin: 0 0 30px 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.action-plate {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    width: 85%;
    height: 89%;
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9A070E, #9e4676, #f98a2f93);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e080b63, #77335a48, #b6662457); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 1px 18px rgb(202, 202, 202);
    border: 1px thistle solid;
}

.action-list {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.add-item {
    margin: 10px;
    box-sizing: border-box;
}